.detail-item {
  .list-item {
    border: .5px solid rgb(119, 119, 119);
    width: 100%;
    height: 400px;
    text-align: left;
    cursor: auto;
    box-shadow: none;
  }

  .list-item-color {
    height: 320px;
    z-index: -99;
    width: 99.9%;
  }

  p {
    font-size: 25px;
    margin: 30px 0 5px 5%;
  }
}