.detail-view {
  margin: 100px 20px 0 210px;
  width: 645px;

  .detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .detail-list-container {
    display: inline-flex;
    margin-left: 15px;
    width: 100%;
    justify-content: space-between;
  }

  button {
    border-radius: $border-radius;
    font-family: $font;
    font-weight: bold;
    background-color: #FFF;
    border: 1px rgb(121, 121, 121) solid;
    margin: 25px auto 20px auto;
    padding: 10px 55px;
    font-size: 15px;
    transition: .4s
  }

  button:hover {
    background: rgb(235, 235, 235);
    border: 1px #000 solid;
  }
}