.list-view {
  margin: 97px 0 0 $left-margin+5;
  width: 657px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .page-list-container {
    width: 625px;

    .page-list {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #active {
      border-bottom: 1px solid #000;
      font-weight: bold;
    }

    li {
      font-size: 14px;
      display: inline-block;
      margin: 40px 3px 0 3px;
      padding: 0 4px 0 4px; 
      cursor: $cursor;
      color: rgb(90, 90, 90);
    }

    li:hover {
      font-weight: bold;
    }
  }
}