.list-view {
  margin: 102px 20px 0 210px;
  width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .page-list-container {
    width: 650px;

    .page-list {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    #active {
      border-bottom: 1px solid #000;
      font-weight: bold;
    }

    li {
      font-size: 15px;
      display: inline-block;
      margin: 45px 4px 20px 4px;
      padding: 0 4px 0 4px; 
      cursor: $cursor;
    }

    li:hover {
      font-weight: bold;
    }
  }
  
  // @media only screen and (min-width: 1050px) {
  //   .col-1, .col-3 {
  //     width: 10%;
  //   }
  
  //   .col-2 {
  //     width: 80%;
  //   }
  // }
}