.list-item {
  border: 1px $secondary-color solid;
  border-radius: $border-radius;
  box-shadow: $blur;
  width: 130px;
  height: 155px;
  margin: 10px 10px;
  
  .list-item-color {
    height: 125px;
    border-radius: $border-radius $border-radius 0 0;
  }

  p {
    font-size: 14px;
    margin: 9px 0 0 10px;
    color: $tertiary-color;
  }
}

.list-item:hover {
  cursor: $cursor;
  box-shadow: 2px 2px 3px rgba(0,0,0, .2);
}