.list-view {
  margin: 102px 20px 0 210px;
  width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .page-list-container {
    clear: both;
    display: block;
    width: 100%;

    .page-list {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    li {
      display: inline-block;
      margin: 45px 10px 20px 10px;
      cursor: $cursor;
    }

    li:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  
  // @media only screen and (min-width: 1050px) {
  //   .col-1, .col-3 {
  //     width: 10%;
  //   }
  
  //   .col-2 {
  //     width: 80%;
  //   }
  // }
}