.nav {
  background-color: $primary-color;
  box-shadow: $blur-horizontal;
  height: $top-margin;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg {
    height: 35px;
    width: 35px;
    margin: 15px 0 0 20px;
  }

  svg:hover {
    cursor: $cursor;
  }
  
  input {
    border-radius: $border-radius;
    border: none;
    width: 160px;
    padding: 10px 35px 10px 15px;
    margin: 14px 25px 0 0;
    float: right;
    font-family: $font;
    font-size: 14px;
  }
}