.sidebar {
  background-color: $secondary-color;
  box-shadow: $blur-horizontal;
  width: $left-margin;
  top: nav-height;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100vh;

  button {
    border-radius: $border-radius;
    font-family: $font;
    font-weight: bold;
    background-color: #FFF;
    border: 1px $primary-color solid;
    margin: 25px 0 20px 18px;
    padding: 8px 25px;
    font-size: 13px;
    transition: .4s
  }

  button:hover {
    background: rgb(235, 235, 235);
    border: 1px #000 solid;
  }

  li {
    margin: 10px 0 0 20px;
    cursor: $cursor;
    color: $primary-color;
  }

  li:hover, link:active {
    font-weight: bold;
  }
}
