.sidebar {
  background-color: $secondary-color;
  box-shadow: $blur-vertical;
  width: $left-margin;
  top: $nav-height;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100vh;

  button {
    border-radius: $border-radius;
    font-family: $font;
    font-weight: bold;
    background-color: #FFF;
    border: 1px #999 solid;
    color: rgb(56, 56, 56);
    margin: 45px 0 13px 20px;
    padding: 8px 30px;
    font-size: 14px;
    transition: .4s;
  }

  button:hover {
    background: rgb(235, 235, 235);
    border: 1px #000 solid;
  }

  li {
    margin: 15px 0 0 18px;
    cursor: $cursor;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: lighter;
  }

  li:hover, link:active {
    font-weight: bold;
  }
}