/* Used Google font import helper: https://google-webfonts-helper.herokuapp.com/ */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/source-serif-pro-v5-latin/source-serif-pro-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
       url('../assets/fonts/source-serif-pro-v5-latin/source-serif-pro-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/source-serif-pro-v5-latin/source-serif-pro-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/source-serif-pro-v5-latin/source-serif-pro-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/source-serif-pro-v5-latin/source-serif-pro-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@import './base/reset';
@import './lib/vars';
@import './base/base';

@import './module/navbar';
@import './module/sidebar';
@import './module/list-view';
@import './module/list-item';
@import './module/detail-view';
@import './module/detail-item';
@import './module/detail-list-item';