.sidebar {
  background-color: $secondary-color;
  box-shadow: $blur-horizontal;
  width: 150px;
  height: 100vh;
  float: left;

  button {
    border-radius: $border-radius;
    font-family: $font;
    font-weight: bold;
    background-color: #FFF;
    border: 1px $primary-color solid;
    padding: 8px 25px;
    transition: .4s
  }

  button:hover {
    background: rgb(235, 235, 235);
    border: 1px #000 solid;
  }

  li {
    color: $primary-color;
  }
}