.detail-item {
  position: relative;
  height: 75%;
  margin-bottom: 20px;

  .list-item {
    width: 85%;
    height: 100%;
    text-align: left;
  }

  .list-item-color {
    height: 40vh;
  }

  p {
    font-size: 20px;
    margin: 15px 5% 5px 5%;
  }

  p:last-child {
    margin: 0 0 12px 5%;
  }
}