.detail-view {
  position: relative;
  margin: 75px 0 0 175px;
  text-align: center;
  height: 100vh;

  .detail-item {
    .list-item {
      cursor: auto;
      box-shadow: none;
    }
  }

  button {
    border-radius: $border-radius;
    font-family: $font;
    font-weight: bold;
    background-color: #FFF;
    border: 1px $primary-color solid;
    margin: 30px 0 20px 20px;
    padding: 10px 55px;
    font-size: 15px;
    transition: .4s
  }

  button:hover {
    background: rgb(235, 235, 235);
    border: 1px #000 solid;
  }
}